<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <ol>

        <li><a href="#">{{item1}}</a>
            <p>Here is a short description</p>
            <p><button>To cart</button></p>
        </li>
        <li><a href="#">{{item2}}</a>
            <p>Here is a short description</p>
            <p><button>To cart</button></p>
        </li>
        <li><a href="#">{{item3}}</a>
            <p>Here is a short description</p>
            <p><button>To cart</button></p>
        </li>
    </ol>
    <form action="/">
        <input type="submit" value="To main page" />
    </form>
</body>
</html>