<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>START PAGE</title>
</head>
<body>
    <h1>Welcome to the place where you can construct your own gown</h1>
    <h2><em>Here you can choose base apparel and model it as you wish</em></h2>

    <h3><a href="#">Back to main page</a></h3>
    <h3><a href="catalog/">Apparels</a></h3>
        <ul>
            <li><a href="#">tank top</a>
                <p>Here is a short description</p>
            </li>
            <li><a href="#">hoody</a>
                <p>Here is a short description</p>
            </li>
        </ul>
    <h3><a href="cart/">cart</a></h3>
</body>
</html>